.subscribe {
    background-color: #8D28AD;
    
}
.container.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 15px;
}
.newsletter {
 color: #fff;
 font-size: 2em;
 width: 13em;
}
.input-sub {
   background-color: rgba(157,73,184,0.9);
   color:#fff;
   padding: 0.5em;
   height: 4em;
   margin-right: 0.5em;
   border-radius:5px;
   width: 25em;
}
.input-sub::placeholder {
    color:#fff;
 }
.btn-sub {
    background-color: #fff;
    color: #8D28AD;
    border-radius: 5px;
    padding: 0.5em 0.8em;
    height: 4em;
}