.nav-pagination{
    display: flex;
    justify-content: center;
    
}
.pagination  {
    list-style: none;
    display: flex;
    justify-content: center;
    
    /* margin: 1em auto; */
    /* width: 200px; */
    border: 1px solid #8D28AD;
    /* text-align: center; */
}
.page-item {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 40px;
    /* display: inline-block; */
    /* margin-right: 1em; */
    border-right:1px solid #8D28AD ;
    /* text-align: center; */   
}
.page-item:last-of-type{
    border-right:none ; 
}
.page-link {
    width: 100%;
    color :#8D28AD;
    font-size: 1.5em;
    
}